<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title slot="end" id="title">Characters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let character of characters" [routerLink]="['/profile/' + character.id]">
      <ion-avatar slot="start">
        <img src="{{character.image}}" alt="{{character.name}}" />
      </ion-avatar>
      <ion-label>{{character.name}}</ion-label>
      <ion-text slot="end">
        <p
          [ngClass]="character.status==='Alive'?'alive':character.status==='Dead'?'dead':'unknow'"
        >
          {{character.status}}
        </p>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>
